<div class="container">
    <div class="left-panel">
        <ng-container #chartContainer></ng-container>
    </div>
    <div class="right-panel">
        <mat-tab-group style="height: 100vh;">
            <mat-tab label="Configure" style="height: 100vh;">
                <ng-container style="height: 100vh;" #configContainer></ng-container>
            </mat-tab>
            <mat-tab label="Design">
                <ng-container #designContainer></ng-container>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>