.container {
    width: 100%;
    height: calc(100vh - 60px);
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.left-panel {
    background-color: #fff;
    height: 100%;
    padding: 20px
}

.right-panel {
    background-color: ghostwhite;
    height: 100%;
    overflow: auto;
}
@media (min-width: 1920px) {
    .container{
        grid-template-columns: 5fr 1fr;
    }  
  }
mat-tab-group{
    height: 100%;
}
::ng-deep .mat-mdc-tab-body-wrapper{
    height: 100%;
}
::ng-deep mat-tab-body{
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}
.buttons{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    column-gap: 20px;
    height: 3%;
    padding-right: 1rem;
}
.custom-button{
    width: 50%;
}
.tabs{
    height: calc(97% - 40px);
}