/* Global style to ensure Material Icons font is applied */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.full-width{
    width: 100%;
}
.drilldown-checkbox{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.edit-icon{
    position: relative;
    top: 10px;
    cursor: pointer;
}
.mat-expansion-panel {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 15px;
}