<div class="left-panel">
    <h3>Create Chart</h3>
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Chart Title</mat-label>
        <input matInput [(ngModel)]="chartOptionsLocal.title"
            placeholder="Enter Chart Title" />
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Select Dataset</mat-label>
        <mat-select>
            <mat-option *ngFor="let dataset of datasets" [value]="dataset"
                (onSelectionChange)="selectDataSet($event)">{{ dataset.schemaType }}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Select Chart Type</mat-label>
        <mat-select [(ngModel)]="selectedChartType" (selectionChange)="selectChart($event)">
            <mat-option [value]="">Select a chart</mat-option>
            <mat-option *ngFor="let chart of chartTypes" [value]="chart">{{ chart }}</mat-option>
        </mat-select>
    </mat-form-field>
    
    <!-- Wind Rose Frequencies for windrose chart -->
    <mat-expansion-panel *ngIf="selectedChartType === 'wind rose'">
        <mat-expansion-panel-header>
            <mat-panel-title> Frequency Configuration </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-checkbox *ngFor="let col of columnsList" (change)="onChangeOfFrequency($event, col)">
            {{col}}
        </mat-checkbox>
    </mat-expansion-panel>
    
    <!-- Series Configuration for PIE chart -->
    <mat-expansion-panel *ngIf="chartOptionsLocal.seriesConfigurations">
        <mat-expansion-panel-header>
            <mat-panel-title> Series Configuration </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-checkbox (change)="enable3DOptions($event)">
            enable 3d
        </mat-checkbox>
        <mat-form-field appearance="fill" *ngIf="chartOptionsLocal.threeDOptions" class="full-width">
            <mat-label>Alpha</mat-label>
            <input matInput [(ngModel)]="chartOptionsLocal.threeDOptions.alpha"
                placeholder="X Axis Title" />
        </mat-form-field>
        <mat-form-field appearance="fill" *ngIf="chartOptionsLocal.threeDOptions" class="full-width">
            <mat-label>Depth</mat-label>
            <input matInput [(ngModel)]="chartOptionsLocal.threeDOptions.depth"
                placeholder="X Axis Title" />
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Choose Label</mat-label>
            <mat-select [(ngModel)]="chartOptionsLocal.seriesConfigurations.label">
                <mat-option *ngFor="let col of columnsList" [value]="col">{{col}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Choose Value</mat-label>
            <mat-select [(ngModel)]="chartOptionsLocal.seriesConfigurations.value">
                <mat-option *ngFor="let col of columnsList" [value]="col">{{col}}</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-expansion-panel>
    
    <!-- X-Axis Configuration (if applicable) -->
    <mat-expansion-panel *ngIf="chartOptionsLocal.xAxis">
        <mat-expansion-panel-header>
            <mat-panel-title> X-Axis Configuration </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Choose X-Axis</mat-label>
            <mat-select *ngIf="!selectedDrillDownLevel" [(ngModel)]="chartOptionsLocal.xAxis.axisKey">
                <mat-option *ngFor="let col of columnsList" [value]="col">{{col}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>X-Axis Title</mat-label>
            <input matInput [(ngModel)]="chartOptionsLocal.xAxis.axisName" placeholder="X Axis Title" />
        </mat-form-field>
    </mat-expansion-panel>
    
    <!-- Y-Axis Configuration (if applicable) -->
    <mat-expansion-panel *ngIf="chartOptionsLocal.yAxis && selectedChartType!=='combination'">
        <mat-expansion-panel-header>
            <mat-panel-title> Y-Axis Configuration </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-expansion-panel *ngFor="let axisConf of chartOptionsLocal.yAxis; let axisInx=index">
            <mat-expansion-panel-header>
                <mat-panel-title> Axis {{axisInx+1}} </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Y-Axis Title</mat-label>
                <input matInput [(ngModel)]="axisConf.title" placeholder="X Axis Title" />
            </mat-form-field>
            <mat-checkbox [(ngModel)]="axisConf.isStackable">
                Stack Metrics
            </mat-checkbox>
            <div *ngFor="let yAxis of axisConf.seriesConf;let i=index">
                <div class="example-margin" style="display: flex; align-items: center;">
                    Series {{i+1}}
                    <button *ngIf="axisConf.seriesConf && axisConf.seriesConf.length>1" mat-icon-button
                        color="warn" (click)="onDeleteClick(axisInx, i)" style="margin-left: auto;">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Choose Series Key</mat-label>
                    <mat-select [(ngModel)]="yAxis.axisKey">
                        <mat-option *ngFor="let col of columnsList" [value]="col">{{col}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Series Name</mat-label>
                    <input matInput [(ngModel)]="yAxis.axisName" placeholder="X Axis Title" />
                </mat-form-field>
            </div>
            <div class="example-button-row">
                <a mat-stroked-button (click)="addSeriesForChart(axisInx)">Add More</a>
            </div>
        </mat-expansion-panel>
        <div class="example-button-row" *ngIf="selectedChartType !== 'pareto'">
            <a mat-stroked-button (click)="addAxisForChart()">Add Axis</a>
        </div>
    </mat-expansion-panel>
    
    <!-- Combination Series -->
    <mat-expansion-panel *ngIf="chartOptionsLocal.yAxis && selectedChartType==='combination'">
        <mat-expansion-panel-header>
            <mat-panel-title> Combination Series </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-expansion-panel *ngFor="let axisConf of chartOptionsLocal.yAxis; let axisInx=index">
            <mat-expansion-panel-header>
                <mat-panel-title> Axis {{axisInx+1}} </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Axis Title</mat-label>
                <input matInput [(ngModel)]="axisConf.title" placeholder="Series Title" />
            </mat-form-field>
            <div *ngFor="let yAxis of axisConf.seriesConf;let i=index">
                <div class="example-margin" style="display: flex; align-items: center;">
                    Series {{i+1}}
                    <button *ngIf="axisConf.seriesConf && axisConf.seriesConf.length>1" mat-icon-button
                        color="warn" (click)="onDeleteClick(axisInx, i)" style="margin-left: auto;">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Choose Chart Type</mat-label>
                    <mat-select [(ngModel)]="yAxis.chartType">
                        <mat-option *ngFor="let col of combinationChartTypes"
                            [value]="col">{{col}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Choose Series Key</mat-label>
                    <mat-select [(ngModel)]="yAxis.axisKey">
                        <mat-option *ngFor="let col of columnsList" [value]="col">{{col}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Series Name</mat-label>
                    <input matInput [(ngModel)]="yAxis.axisName" placeholder="X Axis Title" />
                </mat-form-field>
            </div>
            <div class="example-button-row">
                <a mat-stroked-button (click)="addSeriesForChart(axisInx)">Add More</a>
            </div>
        </mat-expansion-panel>
        <div class="example-button-row">
            <a mat-stroked-button (click)="addAxisForChart()">Add Axis</a>
        </div>
    </mat-expansion-panel>
    
    
    <!-- Drill Down starts here -->
    <div class="drilldown-checkbox">
        <mat-checkbox *ngIf="drillDownCharts.includes(selectedChartType)"
            [(ngModel)]="chartOptionsLocal.isDrillDownEnabled" (change)="onDrillDownSelect($event)">
            Enable Drill Down
        </mat-checkbox>
        <mat-icon *ngIf="drillDownCharts.includes(selectedChartType)" class="edit-icon"
            (click)="openPopup()">edit</mat-icon>
    </div>
    <!-- <app-drilldown-popup *ngIf="isPopupVisible" [drillDownOptions]="chartOptionsLocal.drillDownOptions"
        [data]="data" (onClose)="closePopup()" (onSave)="savePopup($event)"></app-drilldown-popup> -->
</div>
