@use '@angular/material' as mat;
@include mat.core();

@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

// $fontConfig: (
//   display-4: mat-typography-level(112px, 112px, 300, 'Roboto', -0.0134em),
//   display-3: mat-typography-level(56px, 56px, 400, 'Roboto', -0.0089em),
//   display-2: mat-typography-level(45px, 48px, 400, 'Roboto', 0.0000em),
//   display-1: mat-typography-level(34px, 40px, 400, 'Roboto', 0.0074em),
//   headline: mat-typography-level(24px, 32px, 400, 'Roboto', 0.0000em),
//   title: mat-typography-level(20px, 32px, 500, 'Roboto', 0.0075em),
//   subheading-2: mat-typography-level(16px, 28px, 400, 'Roboto', 0.0094em),
//   subheading-1: mat-typography-level(15px, 24px, 500, 'Roboto', 0.0067em),
//   body-2: mat-typography-level(14px, 24px, 500, 'Roboto', 0.0179em),
//   body-1: mat-typography-level(14px, 20px, 400, 'Roboto', 0.0179em),
//   button: mat-typography-level(14px, 14px, 500, 'Roboto', 0.0893em),
//   caption: mat-typography-level(12px, 20px, 400, 'Roboto', 0.0333em),
//   input: mat-typography-level(inherit, 1.125, 400, 'Roboto', 1.5px)
// );

// Light Theme Text
$dark-text: #000000;
$dark-primary-text: rgba($dark-text, 0.87);
$dark-accent-text: rgba($dark-primary-text, 0.54);
$dark-disabled-text: rgba($dark-primary-text, 0.38);
$dark-dividers: rgba($dark-primary-text, 0.12);
$dark-focused: rgba($dark-primary-text, 0.12); 

$mat-light-theme-foreground: (
  base:              black,
  divider:           $dark-dividers,
  dividers:          $dark-dividers,
  disabled:          $dark-disabled-text,
  disabled-button:   rgba($dark-text, 0.26),
  disabled-text:     $dark-disabled-text,
  elevation:         black,
  secondary-text:    $dark-accent-text,
  hint-text:         $dark-disabled-text,
  accent-text:       $dark-accent-text,
  icon:              $dark-accent-text,
  icons:             $dark-accent-text,
  text:              $dark-primary-text,
  slider-min:        $dark-primary-text,
  slider-off:        rgba($dark-text, 0.26),
  slider-off-active: $dark-disabled-text,
);

// Dark Theme text
$light-text: #ffffff;
$light-primary-text: $light-text;
$light-accent-text: rgba($light-primary-text, 0.7);
$light-disabled-text: rgba($light-primary-text, 0.5);
$light-dividers: rgba($light-primary-text, 0.12);
$light-focused: rgba($light-primary-text, 0.12);

$mat-dark-theme-foreground: (
  base:              $light-text,
  divider:           $light-dividers,
  dividers:          $light-dividers,
  disabled:          $light-disabled-text,
  disabled-button:   rgba($light-text, 0.3),
  disabled-text:     $light-disabled-text,
  elevation:         black,
  hint-text:         $light-disabled-text,
  secondary-text:    $light-accent-text,
  accent-text:       $light-accent-text,
  icon:              $light-text,
  icons:             $light-text,
  text:              $light-text,
  slider-min:        $light-text,
  slider-off:        rgba($light-text, 0.3),
  slider-off-active: rgba($light-text, 0.3),
);

// Background config
// Light bg
$light-background:    #fafafa;
$light-bg-darker-5:   darken($light-background, 5%);
$light-bg-darker-10:  darken($light-background, 10%);
$light-bg-darker-20:  darken($light-background, 20%);
$light-bg-darker-30:  darken($light-background, 30%);
$light-bg-lighter-5:  lighten($light-background, 5%);
$dark-bg-tooltip:     lighten(#2c2c2c, 20%);
$dark-bg-alpha-4:     rgba(#2c2c2c, 0.04);
$dark-bg-alpha-12:    rgba(#2c2c2c, 0.12);

$mat-light-theme-background: (
  background:               $light-background,
  status-bar:               $light-bg-darker-20,
  app-bar:                  $light-bg-darker-5,
  hover:                    $dark-bg-alpha-4,
  card:                     $light-bg-lighter-5,
  dialog:                   $light-bg-lighter-5,
  tooltip:                  $dark-bg-tooltip,
  disabled-button:          $dark-bg-alpha-12,
  raised-button:            $light-bg-lighter-5,
  focused-button:           $dark-focused,
  selected-button:          $light-bg-darker-20,
  selected-disabled-button: $light-bg-darker-30,
  disabled-button-toggle:   $light-bg-darker-10,
  unselected-chip:          $light-bg-darker-10,
  disabled-list-option:     $light-bg-darker-10,
);

// Dark bg
$dark-background:     #2c2c2c;
$dark-bg-lighter-5:   lighten($dark-background, 5%);
$dark-bg-lighter-10:  lighten($dark-background, 10%);
$dark-bg-lighter-20:  lighten($dark-background, 20%);
$dark-bg-lighter-30:  lighten($dark-background, 30%);
$light-bg-alpha-4:    rgba(#fafafa, 0.04);
$light-bg-alpha-12:   rgba(#fafafa, 0.12);

// Background palette for dark themes.
$mat-dark-theme-background: (
  background:               $dark-background,
  status-bar:               $dark-bg-lighter-20,
  app-bar:                  $dark-bg-lighter-5,
  hover:                    $light-bg-alpha-4,
  card:                     $dark-bg-lighter-5,
  dialog:                   $dark-bg-lighter-5,
  tooltip:                  $dark-bg-lighter-20,
  disabled-button:          $light-bg-alpha-12,
  raised-button:            $dark-bg-lighter-5,
  focused-button:           $light-focused,
  selected-button:          $dark-bg-lighter-20,
  selected-disabled-button: $dark-bg-lighter-30,
  disabled-button-toggle:   $dark-bg-lighter-10,
  unselected-chip:          $dark-bg-lighter-20,
  disabled-list-option:     $dark-bg-lighter-10,
);

body {
    --primary-color: #d80a0a;
    --primary-lighter-color: #f3b6b6;
    --primary-darker-color: #c80505;
    --accent-color: #ffff00;
    --accent-lighter-color: #ffffb3;
    --accent-darker-color: #ffff00;
    --warn-color: #ff0000;
    --warn-lighter-color: #ffb3b3;
    --warn-darker-color: #ff0000;
    --text-primary-color: #{$light-primary-text};
    --text-primary-lighter-color: #{$dark-primary-text};
    --text-primary-darker-color: #{$light-primary-text};
    --text-accent-color: #{$dark-primary-text};
    --text-accent-lighter-color: #{$dark-primary-text};
    --text-accent-darker-color: #{$dark-primary-text};
    --text-warn-color: #{$light-primary-text};
    --text-warn-lighter-color: #{$dark-primary-text};
    --text-warn-darker-color: #{$light-primary-text};
  }


// $light-primary-palette: (
//     50: var(--primary-50),
//     100: var(--primary-100),
//     200: var(--primary-200),
//     300: var(--primary-300, #ffffff),
//     400: var(--primary-400, #ffffff),
//     500: var(--primary-500, #ed1616),
//     600: var(--primary-600, #f0f0f0),
//     700: var(--primary-700, #d1d1d1),
//     800: var(--primary-800, #a3a3a3),
//     900: var(--primary-900, #666666),
//     A100: var(--primary-A100, #ffffff),
//     A200: var(--primary-A200, #ffffff),
//     A400: var(--primary-A400, #ffffff),
//     A700: var(--primary-A700, #ffffff),
//     contrast: (
//         main: var(--primary-main, '#ffffff'),
//         lighter: var(--primary-lighter, '#000000'),
//         darker: var(--primary-darker, '#ffffff')
//     )
// );

$mat-primary: (
  main: var(--primary-main),
  lighter: var(--primary-lighter),
  darker: var(--primary-darker),
  200: var(--primary-200), // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$theme-primary: mat.m2-define-palette($mat-primary, main, lighter, darker);

// $light-accent-palette: (
//     50: var(--accent-50, #ebebeb),
//     100: var(--accent-100, #ffffff),
//     200: var(--accent-200, #ffffff),
//     300: var(--accent-300, #ffffff),
//     400: var(--accent-400, #ffffff),
//     500: var(--accent-500, #ffffff),
//     600: var(--accent-600, #f0f0f0),
//     700: var(--accent-700, #d1d1d1),
//     800: var(--accent-800, #a3a3a3),
//     900: var(--accent-900, #666666),
//     A100: var(--accent-A100, #ffffff),
//     A200: var(--accent-A200, #ffffff),
//     A400: var(--accent-A400, #ffffff),
//     A700: var(--accent-A700, #ffffff),
//     contrast: (
//         main: var(--acceent-main, '#ffffff'),
//         lighter: var(--accent-lighter, '#000000'),
//         darker: var(--accent-darker, '#ffffff')
//     )
// );

$mat-accent: (
    main: var(--accent-main),
    lighter: var(--accent-lighter),
    darker: var(--accent-darker),
    200: var(--accent-200), // For slide toggle,
  contrast : (
    main: $dark-primary-text,
    lighter: $dark-primary-text,
    darker: $dark-primary-text,
  )
);
$theme-accent: mat.m2-define-palette($mat-accent, main, lighter, darker);

// $light-warn-palette: (
//     50: var(--warn-50, #ffebee),
//     100: var(--warn-100, #ffcdd2),
//     200: var(--warn-200, #ef9a9a),
//     300: var(--warn-300, #e57373),
//     400: var(--warn-400, #ef5350),
//     500: var(--warn-500, #f44336),
//     600: var(--warn-600, #e53935),
//     700: var(--warn-700, #d32f2f),
//     800: var(--warn-800, #c62828),
//     900: var(--warn-900, #b71c1c),
//     A100: var(--warn-A100, #ff8a80),
//     A200: var(--warn-A200, #ff5252),
//     A400: var(--warn-A400, #ff1744),
//     A700: var(--warn-A700, #d50000),
//     contrast: (
//         main: var(--warn-main, '#ffffff'),
//         lighter: var(--warn-lighter, '#000000'),
//         darker: var(--warn-darker, '#ffffff')
//     )
// );

$mat-warn: (
    main: var(--warn-main),
    lighter: var(--warn-lighter),
    darker: var(--warn-darker),
    200: var(--warn-200),
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$theme-warn: mat.m2-define-palette($mat-warn, main, lighter, darker);

// $mat-primary-palette: mat.m2-define-palette($light-primary-palette,);
// $mat-accent-palette: mat.m2-define-palette($light-accent-palette);
// $mat-warn-palette: mat.m2-define-palette($light-warn-palette);

// @include mat-typography($fontConfig);

// $theme-light: mat.m2-define-light-theme(
//     (
//         color: (
//             primary: $mat-primary-palette,
//             accent: $mat-accent-palette,
//             warn: $mat-warn-palette,
//         ),
//         typography: mat.m2-define-typography-config(),
//         density: 0,
//         background: $mat-light-theme-background,
//         foreground: $mat-light-theme-foreground
//     )
// );
// $theme-dark: mat.m2-define-dark-theme(
//     (
//         color: (
//             primary: $mat-primary-palette,
//             accent: $mat-accent-palette,
//             warn: $mat-warn-palette,
//             ),
//             typography: mat.m2-define-typography-config(),
//             density: 0,
//             background: $mat-dark-theme-background,
//             foreground: $mat-dark-theme-foreground
//     ),
// );

$light-theme: mat.m2-define-light-theme($theme-primary, $theme-accent, $theme-warn);
$dark-theme: mat.m2-define-dark-theme($theme-primary, $theme-accent, $theme-warn);

.light-theme{
    @include mat.all-component-themes($light-theme);
    @include mat.toolbar-theme($light-theme);
    @include mat.form-field-theme($light-theme);
    @include mat.slide-toggle-theme($light-theme);
    @include mat.core-theme($light-theme);
    @media (prefers-color-scheme: dark) {
        @include mat.all-component-colors($light-theme);
      }
}   
.dark-theme{
    @include mat.all-component-themes($dark-theme);
    @include mat.toolbar-theme($dark-theme);
    @include mat.form-field-theme($dark-theme);
    @include mat.slide-toggle-theme($dark-theme);
    @include mat.core-theme($dark-theme);
    @media (prefers-color-scheme: dark) {
        @include mat.all-component-colors($dark-theme);
      }
}







.mat-raised-button, .mat-stroked-button, .mat-flat-button {
    padding: 0 1.15em;
    margin: 0 .65em;
    min-width: 3em;
    line-height: 36.4px
  }
  
  .mat-standard-chip {
    padding: .5em .85em;
    min-height: 2.5em;
  }
  
  .material-icons {
    font-size: 24px;
    font-family: 'Material Icons', 'Material Icons';  
    .mat-badge-content {
      font-family: 'Raleway';
    }
  }
  
  html,
  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
  }
  
  h2,h3,h4 {
    a.help {
      span.mat-badge-content {
        background:black;
        opacity: .7;
        z-index: 1;
        color: white;
        transition: all .15s ease-in-out;
      }
      &:hover {
        span.mat-badge-content {
          background: darkgreen;
        }
      }
    }  
  }
  
  mat-icon[data-close], mat-icon[svgicon="github"] {
    color: white;
  }
  
  mat-dialog-container.mat-dialog-container, 
  mat-dialog-container [mat-dialog-content] {
    padding: 0;
    margin: 0;
  }
  
  .mat-simple-snackbar-action {
    a, button {
      color: white; 
    }
  }
  
  mat-divider {
    margin-top: 1em !important;
    margin-bottom: 1em !important;
  }