@import '../../shared/angular-themes/themes.scss';


* {
    padding: 0px;
    // margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0px;
}
/* Light Mode (default) */
// :root {
//     --bg-color: white;
//     --text-color: black;
//   }
  
//   /* Dark Mode */
//   .dark-mode {
//     --bg-color: black;
//     --text-color: white;
//   }
  
//   /* Apply to body */
//   body {
//     background-color: var(--bg-color);
//     color: var(--text-color);
//   }
  