<div class="dashboard-container">
    <mat-toolbar class="dashboard-header" color="accent">
        <input [(ngModel)]="dashboardName" matInput class="input-dname" placeholder="Enter dashboard name" style="border: 2px solid transparent; outline: none;" [ngStyle]="{'border-color': focused ? 'var(--primary-main)' : 'transparent'}" (focus)="focused = true" (blur)="focused = false">
        <div class="action-buttons">
            <button class="dashboard-btn" mat-raised-button color="primary">Load</button>
            <button class="dashboard-btn" mat-raised-button color="primary" (click)="saveDashboard()">
                {{ isExistingDashboard ? 'Update' : 'Save' }}
            </button>
        </div>
    </mat-toolbar>

    <mat-sidenav-container class="dashboard-main">
        <!-- Left Panel (Main Content) -->
        <mat-sidenav-content [ngClass]="{'expanded': !sidenav.opened}">
            <div class="dashboard-left-panel">
                <ng-container #gridContainer></ng-container>
            </div>
            <button mat-mini-fab class="toggle-sidenav-btn" (click)="sidenav.toggle(); toggleSidenav()">
                <mat-icon>{{ sidenav.opened ? 'chevron_right' : 'chevron_left' }}</mat-icon>
            </button>
        </mat-sidenav-content>

        <!-- Right Panel (Sidenav) -->
        <mat-sidenav #sidenav mode="side" position="end" class="dashboard-right-panel">
            <mat-tab-group>
                <mat-tab label="Configure">
                    <ng-container #configContainer></ng-container>
                </mat-tab>
                <mat-tab label="Design">
                    <ng-container #designContainer></ng-container>
                </mat-tab>
            </mat-tab-group>
        </mat-sidenav>
    </mat-sidenav-container>
</div>
