<div class="container">
    <div class="header">
        <span class="title">Marketing Dashboard</span>
        <div class="buttons-group">
            <button class="save-btn">Load</button>
        <button class="save-btn">Save</button>
        </div>
        
    </div>
    <div class="left-panel">
        <ng-container #gridContainer></ng-container>
    </div>
    <div class="right-panel">
        <mat-tab-group>
            <mat-tab label="Configure">
                <ng-container #configContainer></ng-container>
            </mat-tab>
            <mat-tab label="Design">
                <ng-container #designContainer></ng-container>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>