<div class="container">
    <div class="header">
        <!-- <span class="title">{{dashboardName}}</span><mat-icon>edit-icon</mat-icon> -->
        <input [(ngModel)]="dashboardName" matInput class="input-dname">
        <div class="buttons-group">
            <button class="save-btn">Load</button>
        <button class="save-btn" (click)="saveDashboard()">{{isExistingDashboard ? 'update' : 'save'}}</button>
        </div>
        
    </div>
    <div class="left-panel">
        <ng-container #gridContainer></ng-container>
    </div>
    <div class="right-panel">
        <mat-tab-group>
            <mat-tab label="Configure">
                <ng-container #configContainer></ng-container>
            </mat-tab>
            <mat-tab label="Design">
                <ng-container #designContainer></ng-container>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>