<mat-toolbar class="navbar" color="primary">
  <!-- Logo Section (Leftmost Corner) -->
  <div class="logo">
    CELESTE
  </div>

  <!-- Navigation Links (Center) -->
  <nav class="nav-links">
    <ul class="nav-list">
      <li  (click)="navigateTo('/chart')"><a mat-button aria-label="Chart">Chart</a></li>
      <li  (click)="navigateTo('/dashboard')"><a mat-button aria-label="Dashboard">Dashboard</a></li>
      <!-- <li><a mat-button routerLink="/services" routerLinkActive="active" aria-label="Dataset">Dataset</a></li> -->
    </ul>
  </nav>

  <!-- Theme Dropdown and User Profile (Rightmost Corner) -->
  <div class="right-section">
    <!-- Theme Dropdown -->
    <mat-icon class="light-mode-button" (click)="onThemeChanged('light')">light_mode</mat-icon>
    <mat-icon class="dark-mode-button" (click)="onThemeChanged('dark')">dark_mode</mat-icon>

    <!-- User Profile -->
    <button mat-icon-button class="user-profile" [matMenuTriggerFor]="userMenu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="themesMenu">
        <mat-icon>palette</mat-icon>
        <span>Themes</span>
      </button>
      <mat-menu #themesMenu="matMenu" xPosition="before">
        <button mat-menu-item *ngFor="let theme of themes | keyvalue" (click)="applyTheme(theme.value)">
          <mat-icon>brush</mat-icon>
          <span>{{theme.key}}</span>
        </button>
      </mat-menu>
      <button mat-menu-item>
        <mat-icon>color_lens</mat-icon>
        <span>Custom Theme</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>

  <!-- Mobile Menu Toggle -->
  <button mat-icon-button class="menu-toggle" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<!-- Mobile Menu -->
<div class="mobile-menu" [class.open]="menuOpen">
  <ul class="nav-list">
    <li (click)="navigateTo('/chart')"><a mat-button aria-label="Chart" >Chart</a></li>
    <li (click)="navigateTo('/dashboard')"><a mat-button routerLink="/about" routerLinkActive="active" aria-label="Dashboard" >Dashboard</a></li>
    <!-- <li><a mat-button routerLink="/services" routerLinkActive="active" aria-label="Dataset">Dataset</a></li> -->
  </ul>
</div>